In [ ]:
# Descriptive Statistics - Measures of Central Tendency and variability
# Perform the following operations on any open source dataset (e.g., data.csv)
# 1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for
# a dataset (age, income etc.) with numeric variables grouped by one of the qualitative
# (categorical) variable. For example, if your categorical variable is age groups and
# quantitative variable is income, then provide summary statistics of income grouped by the
# age groups. Create a list that contains a numeric value for each response to the categorical
# variable.
# 2. Write a Python program to display some basic statistical details like percentile, mean,
# standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’
# of iris.csv dataset.
# Provide the codes with outputs and explain everything that you do in this step.

In [7]:
import numpy as np
import pandas as pd

In [8]:
df= pd.read_csv("C:/Users/sai/Desktop/DSBDA/Assi3/Iris.csv")
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [9]:
mean_sepal_length = df.loc[:, "SepalLengthCm"].mean()
print("Mean Sepal Length:", mean_sepal_length)

median_sepal_length = df.loc[:, "SepalLengthCm"].median()
print("Median Sepal Length:", median_sepal_length)

mode_sepal_length = df.loc[:, "SepalLengthCm"].mode()
print("Mode Sepal Length:", mode_sepal_length)

std_sepal_length = df.loc[:, "SepalLengthCm"].std()
print("Standard Deviation of Sepal Length:", std_sepal_length)

var_sepal_length = df.loc[:, "SepalLengthCm"].var()
print("Variance of Sepal Length:", var_sepal_length)

min_sepal_length = df.loc[:, "SepalLengthCm"].min()
print("Minimum Sepal Length:", min_sepal_length)

max_sepal_length = df.loc[:, "SepalLengthCm"].max()
print("Maximum Sepal Length:", max_sepal_length)

count_sepal_length = df.loc[:, "SepalLengthCm"].count()
print("Count of Sepal Length:", count_sepal_length)

Mean Sepal Length: 5.843333333333334
Median Sepal Length: 5.8
Mode Sepal Length: 0    5.0
Name: SepalLengthCm, dtype: float64
Standard Deviation of Sepal Length: 0.828066127977863
Variance of Sepal Length: 0.6856935123042507
Minimum Sepal Length: 4.3
Maximum Sepal Length: 7.9
Count of Sepal Length: 150

In [9]:
mean_sepal_width = df.loc[:, "SepalWidthCm"].mean()
print("Mean Sepal Width:", mean_sepal_width)

median_sepal_width = df.loc[:, "SepalWidthCm"].median()
print("Median Sepal Width:", median_sepal_width)

mode_sepal_width = df.loc[:, "SepalWidthCm"].mode()
print("Mode Sepal Width:", mode_sepal_width)

std_sepal_width = df.loc[:, "SepalWidthCm"].std()
print("Standard Deviation of Sepal Width:", std_sepal_width)

var_sepal_width = df.loc[:, "SepalWidthCm"].var()
print("Variance of Sepal Width:", var_sepal_width)

min_sepal_width = df.loc[:, "SepalWidthCm"].min()
print("Minimum Sepal Width:", min_sepal_width)

max_sepal_width = df.loc[:, "SepalWidthCm"].max()
print("Maximum Sepal Width:", max_sepal_width)

count_sepal_width = df.loc[:, "SepalWidthCm"].count()
print("Count of Sepal Width:", count_sepal_width)

Mean Sepal Width: 3.0540000000000003
Median Sepal Width: 3.0
Mode Sepal Width: 0    3.0
Name: SepalWidthCm, dtype: float64
Standard Deviation of Sepal Width: 0.4335943113621737
Variance of Sepal Width: 0.1880040268456376
Minimum Sepal Width: 2.0
Maximum Sepal Width: 4.4
Count of Sepal Width: 150

In [10]:
mean_petal_length = df.loc[:, "PetalLengthCm"].mean()
print("Mean Petal Length:", mean_petal_length)

median_petal_length = df.loc[:, "PetalLengthCm"].median()
print("Median Petal Length:", median_petal_length)

mode_petal_length = df.loc[:, "PetalLengthCm"].mode()
print("Mode Petal Length:", mode_petal_length)

std_petal_length = df.loc[:, "PetalLengthCm"].std()
print("Standard Deviation of Petal Length:", std_petal_length)

var_petal_length = df.loc[:, "PetalLengthCm"].var()
print("Variance of Petal Length:", var_petal_length)

min_petal_length = df.loc[:, "PetalLengthCm"].min()
print("Minimum Petal Length:", min_petal_length)

max_petal_length = df.loc[:, "PetalLengthCm"].max()
print("Maximum Petal Length:", max_petal_length)

count_petal_length = df.loc[:, "PetalLengthCm"].count()
print("Count of Petal Length:", count_petal_length)

Mean Petal Length: 3.758666666666666
Median Petal Length: 4.35
Mode Petal Length: 0    1.5
Name: PetalLengthCm, dtype: float64
Standard Deviation of Petal Length: 1.7644204199522626
Variance of Petal Length: 3.113179418344519
Minimum Petal Length: 1.0
Maximum Petal Length: 6.9
Count of Petal Length: 150

In [11]:
mean_petal_width = df.loc[:, "PetalWidthCm"].mean()
print("Mean Petal Width:", mean_petal_width)

median_petal_width = df.loc[:, "PetalWidthCm"].median()
print("Median Petal Width:", median_petal_width)

mode_petal_width = df.loc[:, "PetalWidthCm"].mode()
print("Mode Petal Width:", mode_petal_width)

std_petal_width = df.loc[:, "PetalWidthCm"].std()
print("Standard Deviation of Petal Width:", std_petal_width)

var_petal_width = df.loc[:, "PetalWidthCm"].var()
print("Variance of Petal Width:", var_petal_width)

min_petal_width = df.loc[:, "PetalWidthCm"].min()
print("Minimum Petal Width:", min_petal_width)

max_petal_width = df.loc[:, "PetalWidthCm"].max()
print("Maximum Petal Width:", max_petal_width)

count_petal_width = df.loc[:, "PetalWidthCm"].count()
print("Count of Petal Width:", count_petal_width)

Mean Petal Width: 1.1986666666666668
Median Petal Width: 1.3
Mode Petal Width: 0    0.2
Name: PetalWidthCm, dtype: float64
Standard Deviation of Petal Width: 0.7631607417008411
Variance of Petal Width: 0.582414317673378
Minimum Petal Width: 0.1
Maximum Petal Width: 2.5
Count of Petal Width: 150

In [10]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [11]:
df.groupby(df['Species']).count()

                 Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
Species
Iris-setosa      50             50            50             50            50
Iris-versicolor  50             50            50             50            50
Iris-virginica   50             50            50             50            50

In [13]:
df.groupby('Species').describe()

                   Id                                                        \
                count   mean       std    min     25%    50%     75%    max
Species
Iris-setosa      50.0   25.5  14.57738    1.0   13.25   25.5   37.75   50.0
Iris-versicolor  50.0   75.5  14.57738   51.0   63.25   75.5   87.75  100.0
Iris-virginica   50.0  125.5  14.57738  101.0  113.25  125.5  137.75  150.0

                SepalLengthCm         ... PetalLengthCm      PetalWidthCm  \
                        count   mean  ...           75%  max        count
Species                               ...
Iris-setosa              50.0  5.006  ...         1.575  1.9         50.0
Iris-versicolor          50.0  5.936  ...         4.600  5.1         50.0
Iris-virginica           50.0  6.588  ...         5.875  6.9         50.0


                  mean       std  min  25%  50%  75%  max
Species
Iris-setosa      0.244  0.107210  0.1  0.2  0.2  0.3  0.6
Iris-versicolor  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
Iris-virginica   2.026  0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 40 columns]

In [14]:
df.groupby('Species')['SepalLengthCm'].describe()

                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [19]:
summary_stats = df.groupby('Species')['SepalLengthCm'].describe()

# List containing numeric value for each response to the categorical variable
response_numeric_values = list(range(1, len(summary_stats) + 1))

print("Summary Statistics of Sepal Length by Species:")
print(summary_stats)
print("\nNumeric Values for Each Response to the Categorical Variable:")
print(response_numeric_values)

Summary Statistics of Sepal Length by Species:
                 count   mean       std  min    25%  50%  75%  max
Species
Iris-setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
Iris-versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
Iris-virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

Numeric Values for Each Response to the Categorical Variable:
[1, 2, 3]

In [27]:
setosa_data = df[df['Species'] == 'Iris-setosa']
versicolor_data = df[df['Species'] == 'Iris-versicolor']
virginica_data = df[df['Species'] == 'Iris-virginica']

print("Statistical Details for Iris-setosa:")
print(setosa_data.describe())
print("\nStatistical Details for Iris-versicolor:")
print(versicolor_data.describe())
print("\nStatistical Details for Iris-virginica:")
print(virginica_data.describe())

Statistical Details for Iris-setosa:
             Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  50.00000       50.00000     50.000000      50.000000      50.00000
mean   25.50000        5.00600      3.418000       1.464000       0.24400
std    14.57738        0.35249      0.381024       0.173511       0.10721
min     1.00000        4.30000      2.300000       1.000000       0.10000
25%    13.25000        4.80000      3.125000       1.400000       0.20000
50%    25.50000        5.00000      3.400000       1.500000       0.20000
75%    37.75000        5.20000      3.675000       1.575000       0.30000
max    50.00000        5.80000      4.400000       1.900000       0.60000

Statistical Details for Iris-versicolor:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000      50.000000     50.000000      50.000000     50.000000
mean    75.50000       5.936000      2.770000       4.260000      1.326000
std     14.57738       0.516171      0.313798       0.469911      0.197753
min     51.00000       4.900000      2.000000       3.000000      1.000000
25%     63.25000       5.600000      2.525000       4.000000      1.200000
50%     75.50000       5.900000      2.800000       4.350000      1.300000
75%     87.75000       6.300000      3.000000       4.600000      1.500000
max    100.00000       7.000000      3.400000       5.100000      1.800000

Statistical Details for Iris-virginica:
              Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count   50.00000       50.00000     50.000000      50.000000      50.00000
mean   125.50000        6.58800      2.974000       5.552000       2.02600
std     14.57738        0.63588      0.322497       0.551895       0.27465
min    101.00000        4.90000      2.200000       4.500000       1.40000
25%    113.25000        6.22500      2.800000       5.100000       1.80000
50%    125.50000        6.50000      3.000000       5.550000       2.00000
75%    137.75000        6.90000      3.175000       5.875000       2.30000
max    150.00000        7.90000      3.800000       6.900000       2.50000